$sprite-spacing: 20px;
@import "sprite/*.png";

@import 'helpers/variaveis';
@import 'helpers/mixins';

@import 'base/normalize';
@import 'layout/geral';
@import 'layout/header';
@import 'layout/destaque';
@import 'layout/sobre';
@import 'layout/planos';
@import 'layout/blog';
@import 'layout/contato';
@import 'layout/footer';








